{{#each this}}
<li class="sosial-links-list__item">
  <a href="{{link}}" target="blank" aria-label="link to the {{name}}">
    <svg class="sosial-links-list__svg">
      <use href="{{svgLink}}"></use>
    </svg>
  </a>
</li>
{{/each}}